@extends("application.html")

@def title():
    404-error
@end


@def content():

<div style="height:100vh; ">
	<div style="height:30vh;"></div>
	<div class="container">
      <div class="row">
	
        <div class="col m12">
          <div class="card" style="background-color:#333;">
            <div class="card-content white-text" style="text-align:center;">
			<span class="card-title">Uh-Oh looks like you hit an error</span>
            </div>
          </div>
        </div>
	</div>
  </div>
</div>

@end