@extends("application.html")

@def title():
    Welcome
@end

@def content():
    <!-- this is the title section -->
  <div class="container">
  
	<div class="row">
		<div class="col s12" style="text-align:center;background-color:#333;margin-top:1em;color:white;padding:1em;">
			<h4> Your Tiny Server is up and Running!  </h4>
			<p>Here are some ideas of what you can do next...</p>
		</div>
	</div>
	
	
  
  </div>
  
  <div class="container">
  <div class="row">
	
        <div class="col m4">
          <div class="card" style="background-color:#333;">
            <div class="card-content white-text">
			  <div style="text-align:center;">
			  <i class="material-icons large">language</i>
			  </div>
              <span class="card-title">Make a Website</span>
              <p>Build A Fully functioning static website in less than 10 minutes. 
			  This Lab even extends to using simple python scripts to add Functionality.</p>
            </div>
            <div class="card-action" style="text-align:center;">
              <a href="#">Get Started</a>
              
            </div>
          </div>
        </div>
		
		<div class="col m4">
          <div class="card" style="background-color:#333;">
            <div class="card-content white-text">
			  
                <div style="text-align:center;">
			  <i class="material-icons large">cloud</i>
			  </div>
                
              
              <span class="card-title">Build a Service</span>
              <p>Start with the most simple frame work and design, develop and deploy your own fully functioning
			  web app. (no coding knowledge required)</p>
            </div>
            <div class="card-action" style="text-align:center;">
              <a href="#" >Get Started</a>
              
            </div>
          </div>
        </div>
		
		<div class="col m4">
          <div class="card" style="background-color:#333;">
            <div class="card-content white-text">
			  <div style="text-align:center;">
			  <i class="material-icons large">polymer</i>
			  </div>
              <span class="card-title">Create An API</span>
              <p>Need a backend for a website or another service you have? Create a simple backend with a lightweigth
              python framwork in minutes.</p>
            </div>
            <div class="card-action" style="text-align:center;">
              <a href="#" >Get Started</a>
              
            </div>
          </div>
        </div>
	 
  </div>
  </div>
  <div class="container">
  <div class="row">
	
        <div class="col m12">
          <div class="card" style="background-color:#333;">
            <div class="card-content white-text">
			<h6> Here are some other resources you might find useful: </h6>
			<ul>
				<li><a href="#">Getting Started</a></li>
				<li><a href="#">HTML Resources</a></li>
				<li><a href="#">CSS Resources</a></li>
				<li><a href="#">Materialize CSS</a> This is the CSS framework Used to build this page</li>
			</ul>
            </div>
          </div>
        </div>
	</div>
  </div>
  
  
  
  
  
  
@end